<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>                    
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>    

        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/baby.jpg' %}"
                alt="The Cringe Ass Nae Nae Baby" /> <!-- New line -->

        </div>
    </body>

</html>